[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
click = "*"
attrs = ">=17"
PyTrie = "*"
requests = "*"

[dev-packages]
pytest = "*"
pyfakefs = "*"
betamax = "*"

[requires]
python_version = "3.5"
