[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.5"

[packages]
click = "*"
attrs = ">=17"
PyTrie = "*"
requests = "*"
requests-file = "*"

[dev-packages]
pytest = "*"
pyfakefs = "*"
betamax = "*"
