{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "<?xml version='1.0'?>\n<methodCall>\n<methodName>listTagged</methodName>\n<params>\n<param>\n<value><string>sclo7-nginx16-rh-candidate</string></value>\n</param>\n<param>\n<value><struct>\n<member>\n<name>latest</name>\n<value><boolean>1</boolean></value>\n</member>\n<member>\n<name>__starstar</name>\n<value><boolean>1</boolean></value>\n</member>\n</struct></value>\n</param>\n</params>\n</methodCall>\n"}, "headers": {"Content-Type": ["text/xml"]}, "method": "POST", "uri": "https://cbs.centos.org/kojihub/"}, "response": {"body": {"encoding": "ISO-8859-1", "string": "<?xml version='1.0'?>\n<methodResponse>\n<params>\n<param>\n<value><array><data>\n<value><struct>\n<member>\n<name>build_id</name>\n<value><int>5404</int></value>\n</member>\n<member>\n<name>owner_name</name>\n<value><string>hhorak</string></value>\n</member>\n<member>\n<name>package_name</name>\n<value><string>nginx16-nginx</string></value>\n</member>\n<member>\n<name>task_id</name>\n<value><int>38815</int></value>\n</member>\n<member>\n<name>state</name>\n<value><int>1</int></value>\n</member>\n<member>\n<name>nvr</name>\n<value><string>nginx16-nginx-1.6.2-3.el7</string></value>\n</member>\n<member>\n<name>start_time</name>\n<value><n[...]
