{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "<?xml version='1.0'?>\n<methodCall>\n<methodName>getBuild</methodName>\n<params>\n<param>\n<value><struct>\n<member>\n<name>name</name>\n<value><string>rh-ror50</string></value>\n</member>\n<member>\n<name>version</name>\n<value><string>5.0</string></value>\n</member>\n<member>\n<name>release</name>\n<value><string>5.el7</string></value>\n</member>\n<member>\n<name>epoch</name>\n<value><int>0</int></value>\n</member>\n<member>\n<name>arch</name>\n<value><string>x86_64</string></value>\n</member>\n</struct></value>\n</param>\n</params>\n</methodCall>\n"}, "headers": {"Content-Type": ["text/xml"]}, "method": "POST", "uri": "https://cbs.centos.org/kojihub/"}, "response": {"body": {"encoding": "ISO-8859-1", "string": "<?xml version='1.0'?>\n<methodResponse>\n<params>\n<param>\n<value><struct>\n<member>\n<name>package_name</name>\n<value><string>rh-ror50</string></value>\n</member>\n<member>\n<name>extra</name>\n<value><nil/></value></member>\n<member>\n<name>creation_time</name>\n<value><string>2017-08-01 13:51:06.613688</string></value>\n</member>\n<member>\n<name>completion_time</name>\n<value><string>2017-08-01 13:54:43.229391</string></value>\n</member>\n<member>\n<name>package_id</name>\n<value><int>5281</int></value>\n</member>\n<member>\n<name>id</name>\n<value><int>18218</int></value>\n</member>\n<member>\n<name>build_id</name>\n<value><int>18218</int></value>\n</member>\n<member>\n<name>epoch</name>\n<value><nil/></value></member>\n<member>\n<name>source</name>\n<value><nil/></value></member>\n<member>\n<name>state</name>\n<value><int>1</int></value>\n</member>\n<member>\n<name>version</name>\n<value><string>5.0</string></value>\n</member>\n<member>\n<name>completion_ts</name>\n<value><double>1501595683.2293899</double></value>\n</member>\n<member>\n<name>owner_id</name>\n<value><int>136</int></value>\n</member>\n<member>\n<name>owner_name</name>\n<value><string>jstanek</string></value>\n</member>\n<member>\n<name>nvr</name>\n<value><string>rh-ror50-5.0-5.el7</string></value>\n</member>\n<member>\n<name>start_time</name>\n<value><string>2017-08-01 13:51:06.613688</string></value>\n</member>\n<member>\n<name>creation_event_id</name>\n<value><int>220429</int></value>\n</member>\n<member>\n<name>start_ts</name>\n<value><double>1501595466.6136899</double></value>\n</member>\n<member>\n<name>volume_id</name>\n<value><int>0</int></value>\n</member>\n<member>\n<name>creation_ts</name>\n<value><double>1501595466.6136899</double></value>\n</member>\n<member>\n<name>name</name>\n<value><string>rh-ror50</string></value>\n</member>\n<member>\n<name>task_id</name>\n<value><int>198929</int></value>\n</member>\n<member>\n<name>volume_name</name>\n<value><string>DEFAULT</string></value>\n</member>\n<member>\n<name>release</name>\n<value><string>5.el7</string></value>\n</member>\n</struct></value>\n</param>\n</params>\n</methodResponse>\n"}, "headers": {"Content-Type": ["text/xml"]}, "status": {"code": 200, "message": "OK"}, "url": "https://cbs.centos.org/kojihub/"}, "recorded_at": "2017-08-03T15:10:44"}], "recorded_with": "betamax/0.8.0"}